<div class="navbar <%if(!index){%>navbar-line<%}%>">
    <div class="container">
        <div class="logo">
            <%if(pkg.idoc.logo){%>
                <img src="<%=relative_path%><%=pkg.idoc.logo%>">
            <%}else{%>
                <%= title %>
            <%}%>
        </div>
        <input type="checkbox" id="idoc_nav" />
        <div class="menu_tree">
        <%- menu_html %>    
        </div>
        
        <% if(pkg&&pkg.repository&&pkg.repository.url) {%>
        <div class="forkgithub"><a target="_blank" href="<%=pkg.repository.url%>">fork on github</a></div>
        <%}%>

        <section class="idoc_nav_btn">
            <label for="idoc_nav"><span></span></label>
        </section>
    </div>
    
</div>


<% if(index){ %>
<div class="bs-docs-header">
    <div class="container">
        <h1><%= title %></h1>
        <p><%= pkg.description %></p>
    </div>
</div>
<% } %>