<div class="navbar">

    <div class="container">
        <div class="logo"><%= title %></div>
        <%- menu_html %>
        
        <% if(pkg&&pkg.repository&&pkg.repository.url) {%>
        <div class="forkgithub"><a target="_blank" href="<%=pkg.repository.url%>">fork on github</a></div>
        <%}%>
    </div>
    
</div>


<% if(index){ %>
<div class="bs-docs-header">
    <div class="container">
        <h1><%= title %></h1>
        <p><%= pkg.description %></p>
    </div>
</div>
<% } %>