<div class="nav">
    <div class="logo">
        <%if(pkg.idoc.logo){%>
            <img src="<%=relative_path%><%=pkg.idoc.logo%>">
        <%}else{%>
            <%= title %>
        <%}%>
    </div>
<%- menu_html -%>
</div>

<% if(pkg&&pkg.repository&&pkg.repository.url) {%>
<div class="forkgithub"><a target="_blank" href="<%=pkg.repository.url%>"></a></div>
<%}%>