<%- include('partial/header'); %>
<%- include('partial/navigation'); %>

<div class="warpper-content warpper <%= chapters && chapters.length > 0 ? 'sidebar' : ''%> <%= tocs ? '' : 'notocs'%>">
  <%- include('partial/chapters'); %>
  <markdown-style>
    <%- html %>
    <%- include('partial/article-footer'); %>
  </markdown-style>
  <%- include('partial/tocs'); %>
</div>

<%- include('partial/footer'); %>